.fondo{
    background-image: url(../assets/giftAgregar.gif);
    color: var(--negro);
    height: 100vh;
}
.crudForm{
    background-color: #36B6FA;
    margin: 1.5rem auto ;
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 50px;
    div{
        @extend .crudForm;
        margin: 0;
    }
    input{
        width: 100%;
        border: 1px solid var(--negro);
        height: 2rem;
    }
    .radioDiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{
            display: flex;
            align-items: center;
            width: 10%;
            input{
                width: fit-content;
            }
        }
    }
    input,
    button{
        border-radius: 5px;
    }
    button{
        background-color: var(--amarillo);
        padding: 5px 15px;
    }
}
.btnsNav{
        margin-left: 45%;
        .btnNav{
            margin-left: 30px;
        }
}
