.fondo{
    background-image: url(../assets/giftAgregar.gif);
    color: var(--negro);
    height: 100vh;
}
.crudForm{
    background-color: #36B6FA;
    margin: 1.5rem auto ;
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 50px;
    div{
        @extend .crudForm;
        margin: 0;
    }
    input{
        width: 100%;
    }
    input,
    button{
        border-radius: 5px;
    }
    button{
        background-color: var(--amarillo);
        padding: 5px 15px;
    }
}
