.crudForm{
    margin: 1.5rem auto ;
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div{
        @extend .crudForm;
        margin: 0;
    }
    input{
        width: 100%;
        border: 1px solid var(--negro);
        height: 2rem;
    }
    .radioDiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{
            display: flex;
            align-items: center;
            width: 10%;
            input{
                width: fit-content;
            }
        }
    }
    input,
    button{
        border-radius: 5px;
    }
    button{
        background-color: var(--rojo);
    }
}