.generalFavoritos{
    background-image: url(../assets/giftAgregar.gif);
    color: var(--negro);
}
.lowPriceTitle{
    color: #F25041;   
}

#favoritos {
    margin: 0 auto 2rem auto;
    width: 70vw;
    margin-top: 2%;
    background-image: url(../assets/waveMirandoHaciaAbajo.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.839);
    padding: 1rem;
    p{
        font-weight: bold;
        background-color: #F25041;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    h2 {
        text-align: center;
    }
    div {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        
        div {
            display: flex;
            flex-direction: column;
        }
    }
    .indicePrecios{
        display: flex;
    }
    .precios{
        margin: 0 5px ;
    }
    .red {
        color: var(--rojo);
    }
    .green {
        color: var(--verde);
    }
    .blue {
        color: var(--azul);
    }
}
.prom{
    width: fit-content;
    height: fit-content;
    background-color: var(--rojo);
    border-radius: 3px;
    padding: 2px;
    color: white;
}