.general{
    margin: 5%;
    justify-content: center;
    background-image: url(../assets/waveMirandoHaciaAbajo.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.839);
    
}
.general1{
    background-image: url(../assets/giftAgregar.gif);
    color: var(--negro);
}