.general{
    margin: 5%;
    justify-content: center;
    background-image: url(../assets/waveMirandoHaciaAbajo.svg);
    background-repeat: no-repeat;
}
.general1{
    background-image: url(../assets/giftAgregar.gif);
    color: var(--negro);
}