.Cont{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/waveMirandoHaciaAbajo.svg);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.formulario {
    background-color: rgba(255, 255, 255, 0.769);
    margin: 0 auto;
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid grey;
    padding: 2rem;
    border-radius: 5px;
    h2{
        margin-bottom: 2rem ;
        color: #F25041;
    }
    input{
        padding: 5px;
        border-radius: 5px;
    }
    div {
        color: #F25041;
        font-style: italic;
    }
    button {
        background-color: #F25041;
        color: var(--blanco);
        margin: 1.5rem auto 0 auto;
        width: 95%;
        padding: 1%;
        border: none;
        &:hover{
            background-color: #36b6fa;
        }
    }
    @media (min-width:700px) {
        width: 50%;
        padding: 0.5rem;
        h2{
            margin-bottom: 0.5rem;
        }
        button{
            margin: 0.5rem auto 5px auto;;
        }
    }
}

.auth__social-networks {
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    button {
        width: fit-content;
        background-color: var(--blanco);
        border: 1px solid grey;
        padding: 5px;
        &:hover {
            background-color: var(--azul);
        }
    }
    .google-btn {
        background-color: rgb(249, 249, 249);
    }
}
