.lowPriceTitle{
    cursor: pointer;
    text-align: center;
    padding-top: 1rem;
    font-style: italic;
}

#profile {
    background-color:#bad9e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow-y: scroll;
    a{
        color: var(--verde);
    }   
    span{
        padding: 5px;
        width: fit-content;
        border:  2px solid var(--blanco) 8rem solid var(--blanco);
        font-style: italic;
    }
    div {
        margin: 2rem auto;
        width: fit-content;
        img{
            border-radius: 100%;
        }
    }
    .profileContent{
        margin: 2rem auto;
        h4{
            margin: 1.5rem 0;
            color: var(--verde);
        }
        div{
            width: 100%;
            border: 3px solid var(--blanco);
        }
        ul{
            text-align: left;
        }
        @media (min-width: 700px){
            width: 90%;
            display: flex;
            div{
                width: 100%;
            }
        }
    }
    .cerrarSesionTitle{
        cursor: pointer;
        color: var(--rojo);
    }
}