@import "LandingPage";
@import "login";

:root{
    --rojo:#E72F3E;
    --negro:#343434;
    --verde:#18b15a;
    --amarillo:#f5b531;
    --blanco:#ffffff;
    --azul:#3171ec;
    --blancoTransparente:rgba(255, 255, 255, 0.8);
}