@import "LandingPage";
@import "login";
@import "profile";
@import "crudForm";

:root {
    --rojo: #E72F3E;
    --negro: #343434;
    --verde: #18b15a;
    --amarillo: #f5b531;
    --blanco: #ffffff;
    --azul: #3171ec;
    --blancoTransparente: rgba(255, 255, 255, 0.8);
}

body {
    background-color: var(--negro);
    color: var(--blanco);
}

input,
button {
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
}

button,
img {
    cursor: pointer;
}

button {
    padding: 3px 0;
    border: 3px solid rgb(165, 164, 164);
    &:hover {
        background-color: var(--blancoTransparente);
    }
}