@import "LandingPage";
@import "login";
@import "profile";
@import "crudForm";
@import "favoritos";
@import "home";

:root {
    --rojo: #E72F3E;
    --negro: #343434;
    --verde: #18b15a;
    --amarillo: #f5b531;
    --blanco: #ffffff;
    --azul: #3171ec;
    --blancoTransparente: rgba(255, 255, 255, 0.8);
}

body {
    background-color: var(--blanco);
    color: var(--negro);
    font-weight: 700;
}

input,
button {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.588);
}

button,
img {
    cursor: pointer;
}

button {
    padding: 3px 0;
    border: none;
}