.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    font-size: smaller;
}

.modal.isOpen {
    display: flex;
}

.modalContainer {
    position: relative;
    width: 55%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 2rem;
    background-color: #36B6FA;
    box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75);
}

@media (max-width:700px) {
    .modalContainer {
        width: 40%;
    }
}
@media (max-width:1000px) {
    .modalContainer {
        width: 30%;
    }
}
@media (max-width:2000px) {
    .modalContainer {
        width: 20%;
    }
}

.modalClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 10%;
    border-radius: 2px;
}

.title {
    margin-top: 20%;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

section {
    border-bottom: 1px solid white;
    color: white;
}

.subTitle {
    font-size: 22px;
    color: white;
}

.pointer {
    cursor: pointer;
}