.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}
.modal.isOpen{
    display: flex;
}
.modalContainer{
    position: relative;
    width: 20%;
    height: 100vh;
    overflow-y:auto ;
    padding: 2rem;
    background-color: rgb(103, 100, 100);
}
.modalContainerCarrito{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 20%;
}
.modalContainerMenu{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 88vh;
    width: 20%;
}
.modalClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 10%;
    border-radius: 2px;
}
.title{
    margin-top: 20%;
    color: #18B15A;
    font-size: 2rem;
    text-align: center;
}
section{
    border-bottom: 1px solid white;
}
.subTitle{
    font-size: 2rem;
}