.leaflet-container{
    width: 98%;
    height: 100vh;
}

.Menu{
    position: absolute;
    top: 80px;
    left: 8px;
    width: 8px;
    height: 8px;
    padding: 14px;
    background: url(../assets/menu.png);
    background-position: center;
    background-size: contain;
    background-color: rgb(170, 163, 163);
    z-index: 400;
    cursor: pointer;
    border-radius: 5px;
}
